
/******************************************************************************************************* 
  Helpful Attributes
*******************************************************************************************************/

/*

 Colors: 
	 <OL> 
		Levels
             'OL':   {
                    1: {
						'Default': 'rgb(106, 0, 129);',
						'Hover': 'rgb(168, 0, 204);'
						},
                    2: {
						'Default': 'rgb(235, 0, 115);',
						'Hover': 'rgb(255, 94, 174);'
						},
                    3: {
						'Default': 'rgb(186, 0, 255);',
						'Hover': 'rgb(213, 100, 255);'
						},
                    4: {
						'Default': 'rgb(129, 182, 255);',
						'Hover': 'rgb(36, 130, 255);'
						},
                    5: {
						'Default': 'rgb(232, 153, 220);',
						'Hover': 'rgb(142, 32, 125);'
						},
                    6: {
						'Default': 'rgb(201, 213, 172);',
						'Hover': 'rgb(130, 153, 77);'
						},
                    7: {
						'Default': 'rgb(231, 179, 154);',
						'Hover': 'rgb(215, 129, 87);'
						},
                    8: {
						'Default': 'rgb(249, 136, 198);',
						'Hover': 'rgb(215, 11, 123);'
						}
		Headers
			Auto TOC:
				color: rgb(11, 59, 225);
		Modifiers
			Orange: 
				color: rgb(222, 87, 0);
			Orange (Light):
				color: rgb(250, 122, 0);
			Dark Red/Pink:
				color: rgb(164, 15, 45);
			Pink Alternative LVL1:
				color: rgb(188, 0, 88);
	
	Header Boxes
		Red-Orange:
			Gradient Start:
				color: rgb(255, 26, 0);
			Gradient End:
				color: rgb(255, 242, 0);
			Title:
				color: rgb(153, 0, 0);
				color: rgb(106, 6, 6);
		Blue-White-Red 
			Gradient Start:
				color: rgb(59, 103, 158);
			Gradient End:
				color: rgb(255, 17, 17);
			Title:
				color: rgb(0, 76, 153);
				color: rgb(10, 121, 243);
			Old Border:
				color: rgb(0, 76, 153);
		Avi-Blue-Red
			Gradient Start:
				color: rgb(0, 96, 191);
			Gradient End:
				color: rgb(191, 0, 96);
			Title: 
				color: rgb(128, 166, 204);
				color: rgb(241, 135, 154);
			Old Border:
				color: rgb(0, 76, 153);
		Borders
			 color: rgb(153, 0, 0);

	Titles:
		Field Title Prompt:
			color: rgb(169, 0, 48);
	
	See Also (Link + Hover)
		See Also:
			color: rgb(45, 79, 201);
			color: rgb(108, 132, 217);
		TOC: 
			color: rgb(173, 0, 0);
			color: rgb(196, 71, 71);
		Outline: 
			color: rgb(105, 170, 53);
			color: rgb(135, 187, 93);
	 
	 Evernote Anknotes Self-Referential Link
			color: rgb(30, 155, 67)
			color: rgb(107, 226, 143)
	 
	 Evernote Classic (In-App) Note Link
			color: rgb(105, 170, 53);
			color: rgb(135, 187, 93);
			
	Unused:
		color: rgb(122, 220, 241); 
	
*/