/* @import url("_AviAnkiCSS.css") */

.card {
 font-family: Tahoma;
 font-size: 20px;
 text-align: left;
 color: black;
 background-color: white;
} 

/* Header rectangles, which sit at the top of every single card */

header {
background: #000;
/* position:fixed; 
height:2.5em; 
line-height:0.25em;  */
width:100%;
/* top:0;
right:0;
left:0;
bottom:0; */
/* margin-bottom:30px; */
/* border-bottom:1px #e0e0e0 solid; */

/* border:3px #990000 solid; */
text-align: center;
}

header h2 {
color: #fff;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

/* @include text-big; */
}

.card  #Field-Title, .card  #Field-Title-Prompt { 
  text-align: center;
  /* color: #A40F2D; */
  font-weight: bold;
  text-decoration: underline;
  font-size: 72px;
  font-variant: small-caps; 
  padding:10px;
}

.card  #Field-Title-Prompt {
  width: 100%	;
	position: fixed;
  font-size: 48px;
  color: #a90030;
}

/* Header bars with custom foreign flag gradient backgrounds */

#Header-BlueWhiteRed, #Header-Avi h2,
#Header-Avi-BlueRed h2,
#Header-RedOrange h2 
{
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
text-shadow: black 0 1px;
}

#Header-RedOrange h2 {
color:#990000;
}

#Header-RedOrange {
/* Background gradient code */
background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff1a00), color-stop(36%,#fff200), color-stop(58%,#fff200), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* IE10+ */
background: linear-gradient(to right, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=1 ); /* IE6-9 */
/* z-index: 100; /* the stack order: foreground */
/* border-bottom:1px #990000 solid; */
border:3px #990000 solid;
}



#Header-BlueWhiteRed, #Header-Avi h2 {
color:#004C99;
}

#Header-BlueWhiteRed, #Header-Avi {
	/* Background gradient code */
background: #3b679e; /* Old browsers */
background: -moz-linear-gradient(left, #3b679e 0%, #ffffff 38%, #ffffff 59%, #ff1111 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b679e), color-stop(38%,#ffffff), color-stop(59%,#ffffff), color-stop(100%,#ff1111)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* IE10+ */
background: linear-gradient(to right, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#ff1111',GradientType=1 ); /* IE6-9 */
/* z-index: 100; /* the stack order: foreground */
/* border-bottom:1px #004C99 solid; */
border:3px #990000 solid;
}



#Header-Avi-BlueRed h2 {
color:#80A6CC;
}

#Header-Avi-BlueRed {
	/* Background gradient code */
background: -moz-linear-gradient(left, #bf0060 0%, #0060bf 36%, #0060bf 58%, #bf0060 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bf0060), color-stop(36%,#0060bf), color-stop(58%,#0060bf), color-stop(100%,#bf0060)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #bf0060 0%,#0060bf 36%,#0060bf 58%,#bf0060 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #bf0060 0%,#0060bf 36%,#0060bf 58%,#bf0060 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #bf0060 0%,#0060bf 36%,#0060bf 58%,#bf0060 100%); /* IE10+ */
background: linear-gradient(to right, #bf0060 0%,#0060bf 36%,#0060bf 58%,#bf0060 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0060', endColorstr='#bf0060',GradientType=1 ); /* IE6-9 */ 
/* z-index: 100; /* the stack order: foreground */
/* border-bottom:1px #004C99 solid; */
border:3px #004C99 solid;
}


.card .TOC, .card .Outline {
 font-weight: bold;
 text-decoration: underline; 
}

.card .TOC {
 color: rgb(173, 0, 0);
}


.card .Outline {
 color: rgb(105, 170, 53);
}

.card #Field-Header-Links #Field-See_Also-Link, .card #Field-Header-Links #Field-See_Also-Link a .Note_Link {
 color: rgb(45, 79, 201);
}

.card #Field-Header-Links #Field-TOC-Link  a  .Note_Link {
 color: rgb(173, 0, 0);
}

.card #Field-Header-Links #Field-Outline-Link  a .Note_Link {
 color: rgb(105, 170, 53);
 /* #69aa35 */
}

a {
 color: rgb(105, 170, 53);
}


.card #Field-Extra ,  #Field-Extra-Front,
.card #Field-See_Also , .card #Field-TOC , .card #Field-Outline {
 font-size: 14px;
}

.card #Tags {
 font-size: 10px;
}

.card #Field-See_Also ol {
	padding-top: 0px;
	margin-top: 0px;
}

.card #Field-See_Also hr {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.card #Field-Extra ,  #Field-Extra-Front,
.card #Tags {
 color: #aaa;
}
 
.card #Field-Extra .header,  #Field-Extra-Front .header {
 color: #666;
} 

.card #Field-Extra .header,  #Field-Extra-Front .header , #Tags .header {
 font-weight: bold;
}

.card #Field-Extra-Front {
	color: #444;
}
.card .occluded {
	color: #444;
}


.card 												#Field-Cloze-content, 
.card 												#Field-Title-Prompt, 
.card 												#Field-TOC 				.header, 
.card 								#Side-Front 		#Tags, 
.card 								#Side-Front 								.occluded, 
.card								#Side-Front 		#Field-See_Also,
.card								#Side-Front 		#Field-TOC,
.card								#Side-Front 		#Field-Outline,
.card 								#Side-Front 		#Field-Extra, 
.card 								#Side-Back 	 	#Field-Extra-Front,
.card #Card-EvernoteReviewCloze  						#Field-content
{
	display: none;
}

/* .card #Card-EvernoteReview                 	 #Side-Front 						hr#answer ,
.card #Card-EvernoteReview                 				 	#Field-Extra-Front,	hr#answer , */
.card #Card-EvernoteReview                 	 #Side-Front  	#Field-content,
.card #Card-EvernoteReviewReversed  	 #Side-Front 	#Field-Title 
{
    visibility: hidden;
}
 
.card #Card-EvernoteReviewCloze  						#Field-Cloze-content, 
.card #Card-EvernoteReviewReversed	#Side-Front		#Field-Title-Prompt,
.card								#Side-Back	 	#Field-See_Also
{
	display: block;
}


.cloze {
 font-weight: bold;
 color: blue;
}